div, main, nav, footer
{
	display: flex;
	align-items: center;
	justify-content: center;
}

body
{
	margin: 0;

	font-size: max(2.7vh, 1.5vw, 10px);
	font-family: "Arial", sans-serif;
}

main
{
	padding: 5vh;

	display: grid;
	gap: 7vh;
}

main
{
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "title title title title" "nav nav nav nav" "about about about about" "mainimg mainimg mainsubj mainsubj" "col1 col2 col3 col4" "footer footer footer footer";
}


#title
{
	grid-area: title;

	margin-top: 5vh;

	font-size: 0.8em;

	flex-direction: column;
}

nav
{
	grid-area: nav;

	margin: 3vh;
	margin-bottom: 6vh;

	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 2vh;
}


#mainimgdiv
{
	grid-area: mainimg;
}

#mainsubject
{
	grid-area: mainsubj;

	flex-direction: column;
	align-items: flex-start;
}


#col1
{
	grid-area: col1;
}

#col2
{
	grid-area: col2;
}

#col3
{
	grid-area: col3;
}

#col4
{
	grid-area: col4;
}


#about
{
	grid-area: about;

	flex-direction: column;
}

footer
{
	grid-area: footer;

	background-color: #00000020;

	padding: 1vh 3vh;
}


img
{
	object-fit: cover;
}

#mainimg, .colimg
{
	width: 100%;
	background-color: #000000;
}

.colimg
{
	height: calc(15vh + 10vw);
}


#titleh
{
	margin: 0;
	font-size: 5em;
}

.col
{
	margin: 5vh 0;
	height: 100%;

	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
}

.navel
{
	padding: 1vh;
	border: solid #000000 0.2vh;
}
.navel:hover
{
	background-color: #00000020;
}


@media only screen and (max-width: 150vh)
{
	main
	{
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "title title" "nav nav" "about about" "mainimg mainsubj" "col1 col2" "col3 col4" "footer footer";
	}
}

@media only screen and (max-width: 80vh)
{
	body
	{
		font-size: 2.25vh;
	}

	main
	{
		grid-template-columns: 1fr;
		grid-template-areas: "title" "nav" "about" "mainimg" "mainsubj" "col1" "col2" "col3" "col4" "footer";
	}

	nav
	{
		text-align: center;

		flex-direction: column;
		align-items: stretch;
		flex-wrap: nowrap;
		gap: 2vh;
	}


	#mainimgdiv
	{
		grid-area: mainimg;
	}

	#mainsubject, #about
	{
		padding: 3vh 2vh;
	}

	.col
	{
		padding: 2vh 0;
		margin: 0 0;
	}
}